

    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-list"></i>
        <span class="menu-text">Trade Allocations </span>

        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">
        <li class="">
            <a href='@Url.Content("~/TradeAllocation/Index")'>
                <i class="menu-icon fa fa-caret-right"></i>
                Allocation Instructions
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href='@Url.Content("~/TradeAllocation/Index")'>
                <i class="menu-icon fa fa-caret-right"></i>
                Allocation Reports
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href='@Url.Content("~/TradeAllocation/Index")'>
                <i class="menu-icon fa fa-caret-right"></i>
                Allocation Instructions Acknowledgment
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href='@Url.Content("~/TradeAllocation/Index")'>
                <i class="menu-icon fa fa-caret-right"></i>
                Allocation Instructions Alert
            </a>

            <b class="arrow"></b>
        </li>

    </ul>
